html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  width: 100%;
  background-color: #F3E6E2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo_principal {
  width: 350px;
  transform: rotate(19.58deg);
  background-size: contain;
  margin-top: 50px;
}

.descricao {
  width: 100%;
  max-width: 700px;
  background-size: contain;
  margin-top: 0px;
}

.button-navegation {
  width: 250px;
  height: 50px;
  font-size: 24px;
  background-color: #63ACBB;
  text-decoration: none;
  color: #fff;
  border-radius: 8px;
  transition: transform 0.2s; 
  margin-top: 50px;
  text-align: center;
  line-height: 50px;
}

.button-navegation:hover {
  transform: scale(1.05); 
}

.copyright {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }

  .logo_principal {
    width: 350px; 
    transform: none;
    margin-top: 40px; 
  }

  .descricao {
    max-width: 100%;
    margin-top: 20px; 
  }

  .button-navegation {
    width: 250px; 
    margin-top: 30px; 
  }
}

