.header {
    position: absolute;
    width: 100%;
    height: 108px;
    left: 0px;
    top: 0px;
    background: #58a5a4;
  }

.background {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #F0F0F7;
}

@keyframes blink {
    0% {
      color: red;
    }
    50% {
      color: rgb(255, 153, 0);
    }
    100% {
      color: red;
    }
  }


.not-found {
    text-decoration-color: black;
    margin-top: 400px;
    margin-left: 600px; 
    margin-right: 600px; 
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: 'Bold';
    animation: blink 3s infinite; 
}

@media screen and (max-width: 1024px) {
    .not-found{
        text-decoration-color: black;
        margin-top: 350px;
        margin-left: 100px; 
        margin-right: 100px; 
        display: flex;
        align-items: center;
        font-size: 50px;
        font-weight: 'Bold';
    }

  }
  
  @media screen and (max-width: 480px) {
    .not-found{
        text-decoration-color: black;
        margin-top: 350px;
        margin-left: 100px; 
        margin-right: 100px; 
        display: flex;
        align-items: center;
        font-size: 50px;
        font-weight: 'Bold';
    }
  }