header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 250px;
    background-color: #5bc0be;    
}

.logo{
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

.favoritos{
    text-decoration: none;
    cursor: pointer;
    background-color: #fff;
    padding: 5px 14px;
    color: #000000;
    border-radius: 4px;
}