.container_questionario {
  padding: 120px 20px 20px;
}

.header_quest {
  position: absolute;
  width: 100%;
  height: 108px;
  left: 0px;
  top: 0px;
  background: #5BC0BE;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.title_quest {
  font-weight: bold;
  text-align: center;
  font-family: 'Muli', sans-serif;
  border-radius: 10px; 
}

.form_quest-container {
  width: 1490px;
  height: 1050px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--back-lines-in-white, #E6E6F0);
  background: var(--shapes-01, #FFF);
  position: relative; 
}

.button_quest {
  font-size: 1.1rem;
  background-color: #63ACBB;
  text-decoration: none;
  color: #fff;
  border-radius: 8px;
  display: inline-block;
  padding: 15px 30px;
  transition: transform 0.2s;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.button_quest:hover {
  transform: scale(1.05);
}

.questionary-text {
  display: inline-block;
  vertical-align: middle; 
  margin-right: 20px; 
  margin-left: 20px;
}

.numero {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  min-width: 20px; /* Defina a largura mínima necessária para acomodar números com dois dígitos */
  margin-left: 20px;
}



.lookup select {
  width: 420px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #5BC0BE;
  border-radius: 5px;
  background-color: #e1f5f5;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  margin-top: 10px;
  display: inline-block;
  margin-left: 20px; 
}

.lookup select:hover {
  background-color: #e1f5f5;
}

.lookup select:focus {
  border-color: #5BC0BE;
  transform: scale(1.05); 
  transition: transform 0.05s ease; 
}


