html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #F9F2F0;
}

.container {
  min-height: 100vh;
  width: 100%;
}

.header {
  width: 100vw;
  background-color: #58a5a4;
  color: white;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 2rem;
}

.text-container {
  margin-right: auto;
  margin-left: 2rem;
}

.form-container {
  padding: 30px 50px;
  margin: 150px auto 0; 
  background-color: #ffffff;
  width: 130%;
  max-width: 600px;
  border-radius: 15px;
}

.titulo{
  font-weight: bold;
  text-align: center;
  font-family: 'Dancing Script', cursive; 
  font-size: 40px;
  margin-left: 70px;
  color: #ffffff;
}

.form-line {
  height: 1px;
  background-color: #CCCCCC;
  margin-bottom: 20px;
}

.form-inputs {
  display: grid;
  grid-gap: 20px;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.avatar-toggle-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-wrapper {
  padding: 0px;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #5BC0BE;
}

.avatar-wrapper:hover {
  border-color: #5BC0BE;
}

.avatar-title {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 5px;
  margin-left: 5px;
}

.avatar-toggle-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.avatar-image {
  width: 150px; 
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.2s ease; 

  transform: scale(1.1);
}

.avatar-image:hover {
  transform: scale(1.4); 
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

.button_form-navegation {
  font-size: 1.1rem;
  background-color: #63ACBB;
  text-decoration: none;
  color: #fff;
  border-radius: 8px;
  display: inline-block;
  padding: 10px 20px;
  transition: transform 0.2s; 
}

.button_form-navegation:hover {
  transform: scale(1.05); 
}

.back_button{
  position: absolute;
  width: 80px;
  height: 55px;
  right: 95%;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('../../images/botao-voltar.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .form-container {
    width: 90%;
    max-width: 100%;
    margin-top: 50px; 
  }

  .titulo {
    font-size: 28px; 
    margin-left: 5;
  }

  .button-container {
    margin-top: 20px; 
  }

  .button_form-navegation {
    font-size: 1rem; 
  }

  .back_button {
    display: block; 
    position: absolute;
    width: 40px;
    height: 30px;
    right: 90%; 
    top: 50%;
    transform: translateY(-50%);
    background-image: url('../../images/botao-voltar.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (max-width: 480px) {
  .form-container {
    padding: 20px;
  }

  .button_form-navegation {
    font-size: 0.9rem; 
  }
}


